<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jpar4.mitfahren">

    <!-- 구글맵 20170808 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 다음맵api 추가할때 추가함 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 카풀인포에 서비스 바인딩후 오류생겨서 아래 퍼미션 추가함 이거 추가하고 되긴하는데 없어도 되긴함? ㅋㅋㅋ 뭐지.. ㅅㅂ 근데 뭔가 오류 엄청남 -->
    <!-- <permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" android:protectionLevel="signature"/> -->
    <application
        android:name=".app.Myapp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="카풀 하자"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 구글 맵 -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDuDP5V5zmcpIo9emE8jfvsamPx_3Nmv2c" />
        <!-- 다음 맵 -->
        <!--
            <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <!-- <activity android:name=".MainActivity"> -->
        <!-- <activity android:name=".activity.LoginActivity"> -->
        <!-- <activity android:name=".activity.SearchActivity"> -->
        <!-- <activity android:name=".activity.TestActivity"> -->
        <!-- android:name=".activity.SearchActivity" -->


        <!-- android:launchMode="singleTask" -> 플레그 사용하기 위해 바꿈. -->
        <!-- <activity android:name=".activity.UserPageActivity"> -->
        <!-- <activity android:name=".activity.CarpoolPageActivity"> -->
        <activity
            android:name=".tmap_test.NewSearchActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.JoinActivity" />
        <!-- <activity android:name=".activity.SearchActivity"></activity> -->
        <!-- <activity android:name=".activity.TestActivity"></activity> -->
        <activity android:name=".activity.CarpoolPageActivity" />
        <activity android:name=".activity.UserPageActivity" />
        <activity android:name=".test_activity.MapTestActivity" />

        <!-- 다음맵추가 -->
        <!--
            <activity
            android:name="com.kakao.auth.authorization.authcode.KakaoWebViewActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        -->

        <activity android:name=".test_activity.DaumTestActivity" />
        <activity android:name=".test_activity.TestSearchActivity" />
        <activity android:name=".activity.AddDriverActivity" />
        <activity android:name=".test_activity.GoogleMapTestActivity" />
        <activity android:name=".test_activity.GeocodingAPIActivity" />
        <activity android:name=".test_activity.TestHttpActivity" />
        <activity android:name=".test_activity.PlaceAutoActivity" />
        <activity android:name=".tmap_test.tmap_first_a" />
        <activity android:name=".tmap_test.NewAddressSearchActivity" />
        <activity android:name=".test_join.test_join" />
        <activity android:name=".tmap_test.NewAddDriverActivity" />
        <activity android:name=".tmap_test.NewAddDriverActivity2" />
        <activity android:name=".tmap_test.NewDriverInfoActivity" />
        <activity android:name=".tmap_test.NewUserPageActivity" />
        <activity android:name=".tmap_test.NewCarpoolList" />
        <activity android:name=".tmap_test.TestLIstView" />
        <activity android:name=".tmap_test.CarpoolInfoActivity" />

        <service android:name=".service.MyService" />

        <activity android:name=".tmap_test.NewNotiActivity"></activity>
    </application>

</manifest>